:root {
  --main-color: #2e2f42;
  --text-color: #434455;
  --background-color: #ffffff;
  --logo-accent-color: #4d5ae5;
  --transition-shadow: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-color: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
* {
  box-sizing: border-box;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #ffffff;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.container {
  max-width: 1158px;
  padding: 0 15px 0 15px;
  margin-left: auto;
  margin-right: auto;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}
.section-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.section-text {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.gallery-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background: #f4f4fd;
  cursor: pointer;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}

.gallery-btn-accent {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #404bbf;
  cursor: pointer;
}

/*---------Header-----------*/

.header {
  background: #ffffff;
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}

.header-link-logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--logo-accent-color);
  text-transform: uppercase;
  margin-right: 76px;
}
.span {
}
.header-link-logo span {
  color: #2e2f42;
}

.header-menu-list {
}
.current {
  position: relative;
}
.current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  top: 68px;
  background: #404bbf;
  border-radius: 2px;
}
.header-menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-color);
  padding-top: 24px;
  padding-bottom: 24px;
  transition: var(--transition-color);
}
.header-menu-link:hover {
  color: #404bbf;
}
.header-menu-link:focus {
  color: #404bbf;
}
.header-address {
}
.header-address-list {
  display: flex;
  gap: 40px;
}
.header-adress-link {
  display: flex;
}
.header-address-list .list {
}
.header-address-contact-mail {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.header-address-contact-mail:hover {
  color: #404bbf;
}
.header-address-contact-mail:focus {
  color: #404bbf;
}
.header-address-contact-tel {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
/*---------Hero-----------*/

.hero {
}
.hero-container {
  max-width: 1440px;
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  align-items: center;
  color: #ffffff;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
}

.hero-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  height: 56px;
  color: #ffffff;
  cursor: pointer;
  background: #4d5ae5;
  min-width: 169px;
  border: none;
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: 48px;
  border-color: #4d5ae5;
  transition: var(--transition-color);
}

.hero-btn:hover {
  background: #404bbf;
}

.hero-btn:focus {
  background-color: #404bbf;
}
/*---------Benefits-----------*/
.benefits-container {
  width: 1158px;
}
.benefits-container-icon {
  width: 264px;
  height: 112px;
  border-radius: 4px;
  background: #f4f4fd;
  position: relative;
  margin-bottom: 8px;
}
.benefits-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.list {
  list-style: none;
}
.benefits {
  padding-top: 120px;
  padding-bottom: 120px;
}

.benefits-list {
  display: flex;
  gap: 24px;
}

.benefits-item {
  width: calc((100% - 24px) / 4);
}

.benefits-title {
  margin-bottom: 8px;
}

.benefits-text {
}

/*--------Offer-----------*/
.offer-container {
  width: 1158px;
  background-color: #ffffff;
}
.list {
  list-style: none;
}

.offer {
  padding-top: 0;
  padding-bottom: 120px;
}
.offer-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-color);
  margin-bottom: 72px;
}
.offer-list {
  background-color: #ffffff;
  display: flex;
  gap: 24px;
}
.offer-item {
  width: calc((100% - 24px) / 3);
}
/*--------team-----------*/
.team-container {
  max-width: 1158px;
  background-color: #f4f4fd;
}
.team {
  background-color: #f4f4fd;
  padding-bottom: 120px;
  padding-top: 120px;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
  background-color: #f4f4fd;
}
.team-item {
  background-color: #ffffff;
  width: calc((100% - 24px) / 4);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  transition: var(--transition);
}
.team-container-subtitle {
  padding: 32px 16px;
}
.team-name {
  text-align: center;
  margin-bottom: 8px;
}

.team-text {
  text-align: center;
}
.team-icon-conteiner {
}
.team-icon-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 32px;
  margin-top: 0;
  margin-left: 16px;
  margin-right: 16px;
}
.list {
}
.team-icon-item {
  width: 40px;
  height: 40px;
  background: #4d5ae5;
  border-radius: 50%;
  position: relative;
}
.team-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*---------customers-----*/
.customers {
}
.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-top: 120px;
  margin-bottom: 72px;
}
.customers-container {
}
.customers-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  padding-bottom: 120px;
}
.customers-item {
  width: 168px;
  height: 88px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  position: relative;
}
.customers-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*--------footer-----------*/
.footer-container-main {
display: flex;
gap: 120px;
margin-left: 156px;
}
.footer-container {
  width: 264px;
  margin: 0;
  background: #2e2f42;
  
  
}

.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #2e2f42;
}

.footer-logo span {
  color: #f4f4fd;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-accent-color);
  display: inline-block;
  margin-bottom: 16px;
}
.footer-text {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
}
.footer-icon-container {
  width: 208px;
  height: 80px;
  
  
  
}

.footer-icon-list {
  display: flex;
  gap: 16px;
  padding-top: 16px;
}
.list {
}
.footer-icon-item {
  width: 40px;
  height: 40px;
  background: #4d5ae5;
  border-radius: 50%;
  position: relative;
}
.footer-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  transition: opacity 300ms linear, visibility 300ms linear;
}
.backdrop.is-hidden .modal { transform: translate(-50%, -50%) scale(0);
}
.modal {
  width: 408px;
  height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-bnt {
  width: 24px;
  height: 24px;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: relative;
  position: absolute;
  right: 24px;
  top: 24px;
  cursor: pointer;
}
.icon-close {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
}
/*--------Portfolio header-----------*/
:root {
  --main-color: #2e2f42;
  --text-color: #434455;
  --background-color: #ffffff;
  --logo-accent-color: #4d5ae5;
  --border-accent-btn: #e7e9fc;
}

.section-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.section-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(#434455);
}
.header-link-logo span {
  color: #2e2f42;
}
.header-container {
  display: flex;
  align-items: center;
}
.header {
  padding-top: 24px;
  padding-bottom: 24px;
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-link-logo {
}

.header-menu-list {
  width: calc ((100% - 40px) / 3);
  display: flex;
  gap: 40px;
}
.header-menu-list .list .header-menu-item .header-menu-link .link {
  font-style: normal;
}
.header-address {
  font-style: normal;
  margin-left: auto;
}
.header-address-list {
  display: flex;
  gap: 40px;
}
.header-address-link {
  display: flex;
}
.header-address-item {
}
.header-address-contact {
}
/*--------Portfolio gallery-----------*/
.gallery {
  padding-top: 96px;
  padding-bottom: 120px;
}

.list {
  list-style: none;
}
.gallery {
}

.gallery-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}
.gallery-item {
  transition: var(--transition-color);
}
.gallery-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.gallery-item:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.btn-container {
}
.gallery-btn-accent {
  font-family: "Roboto", sans-serif;
  color: #4d5ae5;
  background-color: #f4f4fd;
  padding: 12px 24px 12px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}
.gallery-btn-accent:hover {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
}
.gallery-btn-accent:focus {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
}
.gallery-btn {
  font-family: "Roboto", sans-serif;
  color: #4d5ae5;
  background-color: #f4f4fd;
}

/*--------Portfolio gallery-img-----------*/
.link {
  text-decoration: none;
}
.gallery-img {
}
.gallery-img-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
  margin-top: 72px;
}
.list .gallery-img-item {
}
.gallery-img-item {
  width: calc((100% - 48px) / 3);
  transition: var(--transition-shadow);
}
.gallery-img-link {
}
.gallery-img-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.gallery-subtitle {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.gallery-img-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-color);
  margin-bottom: 8px;
}

.gallery-img-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(#434455);
}
.gallery-cover-div {
  position: relative;
  overflow: hidden;
}
.gallery-cover-block {
  position: absolute;
  background-color: #4d5ae5;
  top: 0;
  left: 0;
  padding: 40px 32px;
  height: 100%;
  transform: translateY(100%);
}
.gallery-cover-div:hover .gallery-cover-block {
  transform: translate(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.gallery-cover-div:focus .gallery-cover-block {
  transform: translate(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.gallery-cover-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
/*---------footer portfolio--------*/
